* {
    box-sizing: border-box;
}
body {
    font-family: 'Young Serif','Outfit' ;
    margin: 0;
    padding: 0;
    background-color:hsl(30, 54%, 90%);
}
main {
    max-width: 600px;
    margin: 80px auto;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 8px;
}
.Omelette-img {
    width: 100%;
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;    
}
h1 {
    font-family: 'Young Serif', serif;
    font-weight: 400;
    font-size: 32px;
    color: hsl(228, 12%, 14%);
    margin: auto;
}
p {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: hsl(228, 12%, 34%);
    line-height: 1.5;
    margin: 0;
}
.Header-description {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: hsl(228, 12%, 34%);
    margin-top: 5px;
}
.preparation-time {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    background-color: hsl(330, 100%, 98%);
    border-radius: 9px;
    font-size: 16px;
}
.preparation-time h2{
 color: hsl(332, 51%, 32%);
 font-size: 18px;
 margin-left: 2.8rem;
}
.preparation-time ul {
    margin: 0px 0px 30px 20px;
    color: hsl(332, 51%, 32%);
    font-size: 14px;
}
.preparation-time strong {
    color: hsl(30, 10%, 34%);
    font-weight: 700;
    margin-left: 1.4rem;
}
.preparation-time span {
    font-weight: 400;
    color: hsl(30, 10%, 34%);
}
.preparation-time li {
    margin-bottom: 10px;
}
.Ingredients {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
    border-bottom: solid 1px hsl(30, 18%, 87%);
}
.Ingredients h2 {
    font-family: 'Young Serif', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: hsl(14, 45%, 36%);
    text-align: left;
}
.Ingredients ul {
    padding: 15px;
    margin: 10px;
    color: hsl(14, 45%, 36%);
    font-size: 14px;
}
.Ingredients li {
    margin-bottom: 10px;
}
.Ingredients span {
    font-weight: 400;
    color: hsl(30, 10%, 34%);
    margin-left: 12px;
}
.Instructions {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
    border-bottom: solid 1px hsl(30, 18%, 87%);
}
.Instructions h2 {
    font-family: 'Young Serif', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: hsl(14, 45%, 36%);
    text-align: left;
} 
.Instructions ol {
    padding: 15px;
    padding-left: 20px;
    margin: 10px;
    color: hsl(14, 45%, 36%);
    font-size: 14px;
}
.Instructions li {
margin-bottom: 10px;
padding-left: 16px;
}
.Instructions strong {
    font-weight: 700;
    color: hsl(30, 10%, 34%);
}
.Instructions span {
    font-weight: 400;
    color: hsl(30, 10%, 34%);
}
.Nutrition {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 10px;
}
.Nutrition h2 {
    font-family: 'Young Serif', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: hsl(14, 45%, 36%);
    text-align: left;
}
.Nutrition p {
    padding: 3px;
    margin: 10px;
    color: hsl(30, 10%, 34%);
    font-size: 14px;
    line-height: 1.5;
}
.Nutrition-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
.Nutrition-table tr {
    border-bottom: 1px solid hsl(30, 18%, 87%); 
    font-size: 14px;
    color:hsl(30, 10%, 34%);
}
.Nutrition-table td {
    padding: 8px;
    padding-left: 2.5rem;
}
.Nutrition-table strong{
    padding: 8px;
   color: hsl(14, 45%, 36%);
}
